---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: 'DIN';
  src: url('fonts/FF_DIN_Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('fonts/FF_DIN_Regular_Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DIN';
  src: url('fonts/FF_DIN_Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('fonts/FF_DIN_Bold_Italic.otf');
  font-weight: bold;
  font-style: italic;
}

// @import "minima";
$green:#50E3C2;
$blue:#4A90E2;

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

h1,h2,h3,h4,h5,h6,p,li,a{
  font-family: 'DIN', sans-serif !important;
}

a{
  border-bottom: solid 3px transparent;
}

.container{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    color: white;
  }
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0;

    li{
      color: white;
      padding: 30px;
      a{
        color:white;
        text-transform: uppercase;
      }
    }
  }
  #bottomNav{
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  #topNav{
    position: absolute;
    top: 0;
    width: 100vw;
  }
}

.whitecontainer{
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  h1{
    color: black;
  }
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0;

    li{
      color: black;
      padding: 30px;
      text-align: center;
      a{
        color:black;
        text-transform: uppercase;
        }
      }
    }
  #bottomNav{
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  #topNav{
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .worklist{
    flex-direction: column;
    li{
      padding: 0.3em;
      font-size: 3em;
    }
    a{
      text-transform: lowercase;
      &:hover{
        border-bottom: solid 3px;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.green{
  color:$green !important;
  transition: 0.2s;
  &:hover{
    color:lighten($green, 5%)!important;
    border-bottom: solid 3px $green;
    transition: 0.2s ease-in-out;
  }
}

.blue{
  color:$blue!important ;
  transition: 0.2s;
  &:hover{
    color:lighten($blue, 5%)!important ;
    border-bottom: solid 3px $blue;
    transition: 0.2s ease-in-out;
  }
}

.or{
  font-size: 0.5em;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.4em;
}

.post-title{
  padding-top: 2em;
}

.post{
  margin-bottom: 3em;;
}

.post-container{
  height:100vh;
  overflow: scroll;
  overflow:hidden;
}

.grid-container{
  overflow-y:scroll;
  height:100vh;
  &::-webkit-scrollbar {
    display: none;
  }
}

.postImg{
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgExtra{
  img{
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: 50%;
    height: 50%;
  }
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.page-content{
  max-width: 22em;
}
