@font-face {
  font-family: 'DIN';
  src: url("fonts/FF_DIN_Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("fonts/FF_DIN_Regular_Italic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'DIN';
  src: url("fonts/FF_DIN_Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("fonts/FF_DIN_Bold_Italic.otf");
  font-weight: bold;
  font-style: italic; }
h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'DIN', sans-serif !important; }

a {
  border-bottom: solid 3px transparent; }

.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container h1 {
    color: white; }
  .container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0; }
    .container ul li {
      color: white;
      padding: 30px; }
      .container ul li a {
        color: white;
        text-transform: uppercase; }
  .container #bottomNav {
    position: absolute;
    bottom: 0;
    width: 100vw; }
  .container #topNav {
    position: absolute;
    top: 0;
    width: 100vw; }

.whitecontainer {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll; }
  .whitecontainer h1 {
    color: black; }
  .whitecontainer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0; }
    .whitecontainer ul li {
      background-color: white;
      color: black;
      margin: 23px;
      padding: 7px;
      text-align: center; }
      .whitecontainer ul li a {
        color: black;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out; }
        .whitecontainer ul li a:hover {
          border-bottom: solid 2px;
          transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out; }
  .whitecontainer #bottomNav {
    position: absolute;
    bottom: 0;
    width: 100vw; }
  .whitecontainer #topNav {
    position: absolute;
    top: 0;
    width: 100vw; }
  .whitecontainer .worklist {
    flex-direction: column; }
    .whitecontainer .worklist li {
      padding: 0.3em;
      font-size: 3em; }
      .whitecontainer .worklist li a {
        text-transform: lowercase;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out; }
        .whitecontainer .worklist li a:hover {
          border-bottom: solid 3px;
          transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out; }

.green {
  color: #50E3C2 !important;
  transition: 0.2s; }
  .green:hover {
    color: #66e7ca !important;
    border-bottom: solid 3px #50E3C2;
    transition: 0.2s ease-in-out; }

.blue {
  color: #4A90E2 !important;
  transition: 0.2s; }
  .blue:hover {
    color: #609de6 !important;
    border-bottom: solid 3px #4A90E2;
    transition: 0.2s ease-in-out; }

.or {
  font-size: 0.5em;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.4em; }

.post-header {
  padding-top: 7em; }

.post {
  margin-bottom: 3em; }

.post-container {
  height: 100vh;
  overflow: scroll;
  overflow: hidden; }

.grid-container {
  overflow-y: scroll;
  height: 100vh; }
  .grid-container::-webkit-scrollbar {
    display: none; }

.postImg {
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.imgExtra {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .imgExtra img {
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: 50%;
    height: 50%; }

.page-content p {
  max-width: 40em; }

.backBtn {
  color: grey;
  transition: 0.2s;
  -webkit-transition: 0.2s; }
  .backBtn:hover {
    color: white;
    transition: 0.2s;
    -webkit-transition: 0.2s; }

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#bothLink {
  margin-top: 2em; }
  #bothLink a {
    color: grey;
    transition: 0.2s;
    -webkit-transition: 0.2s; }
    #bothLink a:hover {
      color: white;
      transition: 0.2s;
      -webkit-transition: 0.2s; }

.white {
  color: white; }

.uppercase {
  text-transform: uppercase; }
